{% extends 'base.html.twig' %}

{% block title %}New Condition{% endblock %}

{% block body %}
    <h1>Create new Condition</h1>

    {{ include('condition/_form.html.twig') }}

    <a href="{{ path('condition_index', {rule: rule.id}) }}">back to list</a>
{% endblock %}
